# Cache files
.eslintcache
.npm
*.tsbuildinfo

# Directories
node_modules/
out/
dist/

# Env files
.env.
.env.test

# Logs
*.log
logs
npm-debug.log*

# Misc files
.DS_Store
notes.md

# ide dependent
.vscode/
.vscode
vscode
