body {
   font-style: normal;
   font-weight: 400;
   color: var(--s-secondary-color);
   font-size: 1.2rem;
   overflow-x: hidden;
}

main {
   margin: 0 auto;
}

body,
main {
   position: relative;
}

article,
aside,
details,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
   display: block;
}

[hidden] {
   display: none;
}

::-webkit-scrollbar {
   display: none;
}

a:hover {
   cursor: none;
}

a {
   text-decoration: none;
}

.page {
   background-color: var(--s-primary-color);
}

.page_container {
   display: flex;
   flex-direction: column;
   height: 100%;
   overflow-y: hidden;
}

#loader {
   position: fixed;
   height: 100%;
   width: 100%;
   background-color: var(--s-primary-color);
   z-index: var(--s-loader-z-idx);
}

.loader_cont {
   display: flex;
   height: 100%;
   position: relative;
   justify-content: center;
   align-items: center;
}

.loader_progress_bar_text {
   position: absolute;
   bottom: 9.5rem;
   left: 5rem;

   font-size: 1.8rem;
   color: var(--s-tertiary-color);
}

.loader_quote {
   padding-left: clamp(2.5rem, 6.4vw, 5rem);
   padding-right: clamp(2.5rem, 6.4vw, 5rem);
}

.loader_quote q::before,
.loader_quote q::after {
   color: var(--s-tertiary-color);
}

.loader_quote q {
   color: var(--s-tertiary-color);
}

#nav {
   position: fixed;
   top: var(--s-nav-elements-top);
   z-index: var(--s-nav-z-idx);
   width: 100%;
}

.nav_wrapper {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1.8rem;
   height: 100%;
}

.nav_header {
   display: flex;
   gap: 0.5rem;
   cursor: pointer;
}

.nav_header_name_first {
   color: var(--s-tertiary-color);
}

.nav_header_info {
   display: flex;
   flex-direction: column;
   color: var(--s-tertiary-color);
}

.nav_header_copyright {
   display: flex;
}

.nav_header_name_last {
   display: none;
}

.container {
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1.8rem;
   height: 100%;
}

.cont {
   margin: 0 -0.2rem;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.in_cont {
   padding: 0 0.2rem;
   flex-grow: 1;
   min-height: 0.1rem;
}

.section_tag {
   display: flex;
   font-size: 0.7rem;
   color: var(--s-secondary-color);
}

.marg_auto_left {
   margin-left: auto;
}

.marg_auto_right {
   margin-right: auto;
}

.inner_col {
   margin-bottom: 5rem;
}

.intro_cont {
   margin-top: clamp(7.4rem, 8.4vw, 10.4rem);
}

.intro_title {
   display: flex;
   flex-direction: column;
   gap: clamp(0.2rem, 0.4vw, 0.4rem);
}

.intro_title_strong {
   color: var(--s-tertiary-color);
}

.intro_title_text_line {
   font-size: clamp(2rem, 9.4vw, 6rem);
   line-height: clamp(2rem, 9.4vw, 6rem);
   font-weight: 600;
}

.about_cont {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.about_aside {
   display: flex;
}

.about_main_col p:not(p:nth-child(1)) {
   padding-bottom: clamp(1rem, 1.4vw, 1.5rem);
   line-height: 1.4;
}

.about_main_col p:nth-child(1) {
   display: flex;
   margin-bottom: 2rem;
   font-size: 2rem;
   color: var(--s-tertiary-color);
}

.about_aside_col p {
   padding-bottom: clamp(2rem, 2.4vw, 3rem);
   line-height: 1.4;
}

.about_main_col p span,
.about_aside_col p span {
   color: var(--s-tertiary-color);
   text-decoration: none;
}

.about_aside_col p a {
   color: var(--s-tertiary-color);
   text-decoration: none;
   position: relative;
}

.cursor_hoverable::before {
   margin-bottom: -0.25rem;
   content: " ";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 1px;
   background-color: var(--s-tertiary-color);
   transition: width 0.4s ease-out;
}

.cursor_hoverable:hover::before {
   width: 100%;
}

.contact_cont {
   display: flex;
   flex-direction: column;
}

.contact_main {
   margin-bottom: 5rem;
   display: flex;
   justify-content: space-between;
}

.contact_cta {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
}

.contact_cta_content {
   display: flex;
}

.contact_cta_content_inner,
.contact_cta_content_inner p {
   position: relative;
}

.contact_cta_content_inner p:first-child {
   margin-bottom: 1rem;
}

.contact_cta_content_inner p,
.contact_cta_btn p {
   font-size: 2.6rem;
}

.contact_cta_content_inner p span,
.contact_cta_btn p a {
   color: var(--s-tertiary-color);
}

.contact_cta_btn {
   margin-left: auto;
}

@media (min-width: 320px) {
   .about_main {
      margin-bottom: 4rem;
   }

   .about_main_col p {
      font-size: 1.3rem;
   }

   .about_aside_col p {
      font-size: 1.2rem;
   }
}

@media (min-width: 768px) {
   .intro_title_text_line {
      font-size: clamp(5.3rem, 9.3vw, 7.2rem);
      line-height: clamp(5.3rem, 9.3vw, 7.2rem);
   }

   .intro_title,
   #intro .container .cont .in_cont .section_tag {
      margin-top: clamp(8.6rem, 8.4vw, 10.4rem);
   }

   .about_cont {
      flex-direction: row;
   }

   .about_main {
      min-width: 42%;
      padding-right: clamp(3rem, 3.4vw, 6rem);
   }

   .about_aside {
      min-width: 58%;
      padding-left: clamp(4rem, 3.4vw, 8rem);
   }

   .contact_cta {
      flex-direction: row;
      align-items: end;
   }

   .contact_cta_content {
      max-width: clamp(48rem, 12.4vw, 60rem);
   }
}

@media (min-width: 948px) {
   .loader_progress_bar {
      position: absolute;
      bottom: 5rem;
      left: -5rem;

      width: 1px;
      height: 125px;

      background-color: var(--s-primary-color);
   }

   .loader_progress_bar_progress {
      position: absolute;
      bottom: 0;

      width: inherit;
      height: 0%;

      background-color: var(--s-loader-progress-bar-bg-color);
   }
}

@media (min-width: 1100px) {
   .intro_title_text_line {
      font-size: clamp(6.4rem, 8vw, 7.2rem);
      line-height: clamp(6.4rem, 8vw, 7.2rem);
   }
}
