body {
   font-style: normal;
   font-weight: 400;
   color: var(--s-text-base);
   font-size: 1.4rem;
   overflow-x: hidden;
}

main {
   margin: 0 auto;
}

body,
main {
   position: relative;
}

article,
aside,
details,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
   display: block;
}

[hidden] {
   display: none;
}

.page {
   background-color: var(--s-bg-color);
}

.page_container {
   display: flex;
   flex-direction: column;
   height: 100%;
   overflow-y: hidden;
}

#preload {
   position: absolute;
   background-color: var(--s-bg-color);
   z-index: var(--s-preload-z-idx);
   height: 100dvh;
   width: 100%;
   padding-bottom: 2.4rem;
}

#in_cont_preload {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.preload_title {
   display: flex;
   color: var(--s-text-lower);
   padding-bottom: 2rem;
   padding-top: clamp(15.7rem, 17vw, 30.7rem);
}

.preload_article {
   display: flex;
   flex-direction: column;
}

.preload_article p {
   padding-bottom: 2rem;
}

.preload_article hr {
   height: 1px;
   background-color: black;
   width: 100%;
   margin-bottom: 4rem;
}

.preload_copyright {
   display: flex;
}

.preload_wip {
   margin-top: auto;
}

.p {
   font-size: 1.4rem;
   line-height: 1.4;
}

#nav {
   position: fixed;
   top: clamp(3.7rem, 6.4vw, 4.7rem);
   z-index: var(--s-nav-z-idx);
   width: 100%;
}

.nav_wrapper {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1.8rem;
   height: 100%;
}

.nav_title {
   color: var(--s-text-lower);
   font-size: var(--s-nav-font-size);
   text-decoration: underline;
}

.nav_list {
   display: none;
}

.nav_list_item {
   width: min-content;
}

.nav_list_item > * {
   text-decoration: none;
   font-size: var(--s-nav-font-size);
   color: var(--s-text-base);
}

#theme_switch {
   display: flex;
   width: max-content;
}

#scroll_nav {
   position: absolute;
   top: 3.7rem;
   right: 1.8rem;
   display: none;
   z-index: var(--s-scroll-nav-z-idx);
}

.container {
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1.8rem;
   height: 100%;
}

.cont {
   margin: 0 -0.2rem;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.in_cont {
   display: flex;
   padding: 0 0.2rem;
   flex-grow: 1;
   min-height: 0.1rem;
}

.section_tag {
   font-size: 1rem;
}

.section_seperator {
   height: 0.1px;

   margin: clamp(2rem, 6.4vw, 4rem) 0;

   padding: 0 0.2rem;
   background-color: var(--s-hr-base);
}

.marg_auto_left {
   margin-left: auto;
}

.marg_auto_right {
   margin-right: auto;
}

.intro_title,
#intro .container .cont .in_cont .section_tag {
   padding-top: 7.7rem;
}

.intro_title {
   display: flex;
   flex-direction: column;
   gap: clamp(0.2rem, 0.4vw, 0.5rem);
}

.intro_title_strong {
   color: var(--s-text-lower);
   /*color: var(--s-text-lower);
   */
}

.intro_title_text_line {
   font-size: clamp(2rem, 8.4vw, 3rem);
   line-height: clamp(2rem, 8.4vw, 3rem);
   font-weight: 600;
}

#contact {
   padding-bottom: 2.4rem;
}

.contact_content {
   display: flex;
   flex-direction: column;
}

@media (min-width: 768px) {
   .intro_title_text_line {
      font-size: clamp(4.4rem, 4vw, 6.8rem);
      line-height: clamp(4.4rem, 4vw, 6.8rem);
   }
}

@media (min-width: 992px) {
   #scroll_nav {
      display: block;
   }
}
