body {
   font-style: normal;
   font-weight: 400;
   color: var(--s-text-base);
   font-size: 1.2rem;
   overflow-x: hidden;
}

main {
   margin: 0 auto;
}

body,
main {
   position: relative;
}

article,
aside,
details,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
   display: block;
}

[hidden] {
   display: none;
}

::-webkit-scrollbar {
   display: none;
}

a:hover {
   cursor: none;
}

.page {
   background-color: var(--s-bg-color);
}

.page_container {
   display: flex;
   flex-direction: column;
   height: 100%;
   overflow-y: hidden;
}

.loader_container {
   margin: 0 auto;
   max-width: var(--s-loader-max-width);
   padding: 0 1.8rem;
   height: 100%;
}

.loader_cont {
   margin: 0 -0.2rem;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.loader_in_cont {
   padding: 0 0.2rem;
   flex-grow: 1;
   min-height: 0.1rem;
}

#preload {
   position: absolute;
   background-color: var(--s-bg-color);
   z-index: var(--s-preload-z-idx);
   height: 100dvh;
   width: 100%;
   padding-bottom: 2.4rem;
}

#in_cont_preload {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.preload_article {
   display: flex;
   flex-direction: column;
}

.preload_article p {
   padding-bottom: 2rem;
}

.preload_article p span {
   color: var(--s-text-lower);
}

.preload_article hr {
   height: 1px;
   background-color: black;
   width: 100%;
   margin-bottom: 4rem;
}

#nav {
   position: fixed;
   top: var(--s-nav-elements-top);
   z-index: var(--s-nav-z-idx);
   width: 100%;
}

.nav_wrapper {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1.8rem;
   height: 100%;
}

.nav_header {
   display: flex;
   gap: 0.5rem;
   cursor: pointer;
}

.nav_header_name_first {
   color: var(--s-text-lower);
}

.nav_header_info {
   display: flex;
   flex-direction: column;
   color: var(--s-text-lower);
}

.nav_header_copyright {
   display: flex;
}

.nav_header_name_last {
   display: none;
}

.nav_menu_list {
   display: flex;
   flex-direction: column;
}

.nav_menu_item_header {
   color: var(--s-text-base);
   cursor: pointer;
}

.nav_menu_item_cont a {
   text-decoration: underline;
   color: var(--s-text-lower);
}

.nav_menu_item_cont p {
   color: var(--s-text-lower);
}

.nav_menu_item_cont p:hover,
.nav_menu_item_cont a:hover {
   color: var(--s-text-base);
   text-decoration: underline;
}

#scroll_nav {
   position: fixed;
   top: var(--s-nav-elements-top);
   right: 1.8rem;
   display: none;
   z-index: var(--s-scroll-nav-z-idx);
}

.container {
   margin: 0 auto;
   max-width: var(--s-max-width);
   padding: 0 1.8rem;
   height: 100%;
}

.cont {
   margin: 0 -0.2rem;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.in_cont {
   padding: 0 0.2rem;
   flex-grow: 1;
   min-height: 0.1rem;
}

.section_tag {
   display: flex;
   font-size: 0.7rem;
   color: var(--s-text-base);
}

.section_seperator {
   height: 0.1px;

   margin: clamp(2rem, 8.4vw, 4rem) 0;

   padding: 0 0.2rem;
   background-color: var(--s-hr-base);
}

.marg_auto_left {
   margin-left: auto;
}

.marg_auto_right {
   margin-right: auto;
}

.intro_cont {
   margin-bottom: 5rem;
}

.intro_title,
#intro .container .cont .in_cont .section_tag {
   margin-top: clamp(7.4rem, 8.4vw, 10.4rem);
}

.intro_title {
   display: flex;
   flex-direction: column;
   gap: clamp(0.2rem, 0.4vw, 0.4rem);
}

.intro_title_strong {
   color: var(--s-text-lower);
}

.intro_title_text_line {
   font-size: clamp(2rem, 9.4vw, 6rem);
   line-height: clamp(2rem, 9.4vw, 6rem);
   font-weight: 600;
}

.about_cont {
   margin-bottom: 5rem;
}

.about_wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.about_main_header {
   display: flex;
   margin-bottom: 1.4rem;
}

.about_main_header {
   color: var(--s-text-lower);
   font-size: 2rem;
}

.about_aside {
   display: flex;
}

.about_main_col p {
   padding-bottom: clamp(1rem, 1.4vw, 1.5rem);
   line-height: 1.4;
}

.about_aside_col p {
   padding-bottom: clamp(2rem, 2.4vw, 3rem);
   line-height: 1.4;
}

.about_main_col p span,
.about_aside_col p span {
   color: var(--s-text-lower);
   text-decoration: none;
}

.about_aside_col p a {
   color: var(--s-text-lower);
   text-decoration: none;
}

.about_aside_col p a::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   height: 2px;
   background-color: var(--s-text-lower);
   transition: width 0.3s ease-out;
}

.about_aside_col p a:hover::before {
   width: 100%;
}

#contact {
   margin-bottom: 5rem;
}

.contact_content {
   display: flex;
   flex-direction: column;
}

@media (min-width: 320px) {
   .about_main {
      margin-bottom: 4rem;
   }

   .about_main_col p {
      font-size: 1.3rem;
   }

   .about_aside_col p {
      font-size: 1.2rem;
   }
}

@media (min-width: 768px) {
   .intro_title_text_line {
      font-size: clamp(5.3rem, 9.3vw, 7.2rem);
      line-height: clamp(5.3rem, 9.3vw, 7.2rem);
   }

   .intro_title,
   #intro .container .cont .in_cont .section_tag {
      margin-top: clamp(8.6rem, 8.4vw, 10.4rem);
   }

   .about_wrapper {
      flex-direction: row;
   }

   .about_main {
      min-width: 42%;
      padding-right: clamp(3rem, 3.4vw, 6rem);
   }

   .about_aside {
      min-width: 58%;
      padding-left: clamp(4rem, 3.4vw, 8rem);
   }
}

@media (min-width: 1100px) {
   .intro_title_text_line {
      font-size: clamp(6.4rem, 8vw, 7.2rem);
      line-height: clamp(6.4rem, 8vw, 7.2rem);
   }
}
