*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   background: transparent;
   list-style: none;
   color: var(--text-base);
}

:root {
   --s-primary-color: rgb(255, 255, 255);
   --s-secondary-color: rgb(185, 185, 185);
   --s-tertiary-color: rgb(0, 0, 0);

   --s-loader-progress-bar-bg-color: rgb(10, 10, 10);

   --s-transition-hover-base: all ease-in-out 100ms;

   --s-max-width: clamp(64rem, 53vw, 84rem);
   --s-loader-max-width: clamp(64rem, 84vw, 104rem);

   --s-nav-font-size: clamp(1.2rem, 6.4vw, 1.4rem);
   --s-nav-elements-top: clamp(3.4rem, 5.4vw, 4.4rem);

   /*viewport width
   --xs-width: 320px;
   --sm-width: 576px;
   --md-width: 768px;
   --lg-width: 1024px;
   --xl-width: 1440px;
   --xxl-width: 2560px;
   */

   --s-loader-z-idx: 4000;
   --s-cursor-z-idx: 3000;
   --s-nav-z-idx: 2048;
   --s-scroll-nav-z-idx: 2047;
}

body {
   cursor: none;
}

.cursor {
   position: fixed;
   top: 0;
   left: 0;

   width: 10px;
   height: 10px;
   background-color: black;
   border-radius: 50%;
   z-index: var(--s-cursor-z-idx);
   pointer-events: none;
}

@media (max-width: 768px) {
   [data-cursor-outline] {
      display: none;
   }
   body {
      cursor: pointer;
   }
}
