*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
   background: transparent;
   list-style: none;
   color: var(--text-base);
}

:root {
   --s-bg-color: rgb(255, 255, 255);
   --s-text-base: rgb(62, 61, 65);
   --s-text-lower: rgb(1, 1, 1);
   --s-hr-base: rgb(217, 217, 217);
   --s-transition-hover-base: all ease-in-out 100ms;

   --s-base-max-width: clamp(100rem, 12vw, 120rem);
   --s-preload-max-width: 37.4rem;
   --s-max-width: clamp(50rem, 50vw, 70rem);

   /*viewport width
   --xs-width: 320px;
   --sm-width: 576px;
   --md-width: 768px;
   --lg-width: 992px;
   --xl-width: 1200px;
   --xxl-width: 1440px;
   */

   --s-preload-z-idx: 4000;
   --s-nav-z-idx: 2048;
   --s-scroll-nav-z-idx: 2047;
}
